---
# Include variables and define needed variables.
- name: Include OS-specific variables (RedHat).
  include_vars: "{{ ansible_os_family }}-{{ ansible_distribution_major_version }}.yml"
  when: ansible_os_family == "RedHat"

# Define tomcat_packages
- name: Define tomcat_packages.
  set_fact:
    tomcat_packages: "{{ __tomcat_packages | list }}"
  when: tomcat_packages is not defined

# Setup/install tasks.
- include: setup-RedHat.yml
  when: ansible_os_family == 'RedHat'
  
# Install tomcat
- include: tomcat.yml